<!DOCTYPE html>
<html lang= 'en' ng-app = 'app' >
    <head>
        <meta charset="utf-8">
        <title>products</title>
        <script src = "../bower_components/angular/angular.js"></script>
        <script>
            var app = angular.module('app', []);
        </script>
        <script src = "./js/factories/productsFactory.js"></script>
        <script src = "./js/controllers/productsController.js"></script>

    </head>
    <body>
    <div ng-controller= "productsController" id ="productsController">

    <h2>Products Controller</h2>
        <form>
            Product Name: <input type='text' ng-model = 'product.name'><br>
            Product Price: <input type='text' ng-model = 'product.price' aria-label="price"><br>
            <input type="submit" value= 'Add Product' ng-click='addProduct()'>
        </form>    <hr>

        <table>
            <tr>
                <th> Name </th>
                <th> Price </th>
                <th> Actions </th>
            </tr>
            <tr ng-repeat= 'x in products'>
                <td>{{x.name}}</td>
                <td><span id="currency-default">{{x.price | currency}}</span></td>
                <td> <input type="submit" value="Delete" ng-click='deleteProduct($index)'> </td>
            </tr>
        </table>
    </div> <br><hr><br>

    <div ng-controller = "ordersController" id = "ordersController">
        <table>
            <tr>
                <th> Name </th>
                <th> Price </th>
                <th> Qty Available </th>
                <th> Actions </th>
            </tr>
            <tr ng-repeat= 'x in products'>
                <td>{{x.name}}</td>
                <td><span id="currency-default">{{x.price | currency}}</span></td>
                <td>{{x.qty}}</td>
                <td> <input type="submit" value="Buy" ng-click='buyProduct($index)'> </td>
            </tr>
        </table>

    </div>


    </body>
</html>
